header {
  display: flex;
  justify-content: center;
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  height: 4rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 96%;
}

.header-container__right-side {
  width: 60rem;
  display: flex;
  flex-direction: row;
}

.searching-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.1px solid var(--grey-color--default);
  border-radius: 5px;
  height: 2rem;
}

.searching-bar input {
  height: inherit;
  padding-left: 0.5rem;
  width: 14.5rem;
  background-color: var(--header-bckground-color);
  border: 0rem;
  font-size: medium;
  color: var(--grey-color--default);
  transition: 200ms;
}

.searching-bar span {
  display: none;
}

.searching-bar input:focus {
  background-color: var(--header-text-color);
  width: 30rem;
  outline: none;
  transition: 200ms;
  border-radius: 5px;
  border: 0rem;
  color: black;
}
.searching-bar input:focus::placeholder {
  color: rgb(0, 0, 0, 0.5);
}
.searching-bar input:focus + span {
  display: none;
}
.searching-bar input::placeholder {
  color: var(--grey-color--default);
  font-size: small;
}

.searching-bar span {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1px solid var(--grey-color--default);
  border-radius: 4px;
  height: 0.8rem;
  width: 1rem;
  font-size: small;
  margin-right: 0.3rem;
  padding-bottom: 0.2rem;
  cursor: default;
}
.github-logo {
  margin-right: 1rem;
}
.github-logo,
.bell-logo a {
  fill: var(--header-text-color);
}

.github-logo:hover,
.bell-logo a:hover {
  fill: var(--grey-color--default);
}

.header-container__right-side ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  font-weight: bold;
  font-size: 0.85rem;
}
.header-container__right-side li {
  margin-left: 1rem;
}
.header-container__right-side li a:hover,
.header-container__left-side div a:hover {
  color: var(--grey-color--default);
}

.header-container__left-side img {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
}

.header-container__left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.plus-symbol {
  display: flex;
  align-items: center;
  height: 1rem;
  padding-bottom: 0.5rem;
}

.header-container__left-side > div a {
  padding-left: 1rem;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1rem;
}

.header-container__left-side > div a > * {
  margin-right: 0.3rem;
}
.triangle-shape {
  clip-path: polygon(50% 50%, 100% 0%, 0 0%);
  background-color: var(--header-text-color);
  width: 0.55rem;
  height: 0.55rem;
}
.triangle-shape:hover {
  background-color: var(--grey-color--default);
}
